.member-name {
  font-family: Roboto, sans-serif;
  font-size: 1.4rem;
  margin-bottom: 8px;
}

.top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button:hover {
  cursor: pointer;
}
