<div>
  <form [formGroup]="form" (ngSubmit)="save()">
<!--    <ng-container *ngIf="isMobile; else desktopView">-->
<!--      <div class="top-row">-->
<!--        <div class="member-name">-->
<!--          <span>{{eventAttendance?.member?.user?.firstName}} {{eventAttendance?.member?.user?.lastName}}</span>-->
<!--          <span>{{eventAttendance?.mbEvent?.title}} - {{eventAttendance?.mbEvent?.date | date: 'EEEE, MMMM d h:mm a'}}</span>-->
<!--        </div>-->
<!--        <button *ngIf="!editing" mat-flat-button type="button" color="primary"  (click)="edit()">Edit</button>-->
<!--        <div *ngIf="editing">-->
<!--          <button mat-stroked-button type="button" (click)="cancel()">Cancel</button>&nbsp;-->
<!--          <button mat-flat-button type="submit" color="primary">Save Changes</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </ng-container>-->

<!--    <ng-template #desktopView>-->
<!--      <div class="top-row">-->
<!--        <div class="member-name">-->
<!--          <span>{{eventAttendance?.member?.user?.firstName}} {{eventAttendance?.member?.user?.lastName}}&nbsp;</span>-->
<!--          <span style="color: dimgray">- {{eventAttendance?.member?.user?.email}}</span>-->
<!--        </div>-->
<!--        <button *ngIf="!editing" mat-flat-button type="button" color="primary"  (click)="edit()">Edit Attendance</button>-->
<!--        <div *ngIf="editing">-->
<!--          <button mat-stroked-button type="button" (click)="cancel()">Cancel</button>&nbsp;-->
<!--          <button mat-flat-button type="submit" color="primary">Save Changes</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </ng-template>-->

    <div class="top-row">
      <div class="title">
        <span style="font-size: 1.4rem; font-weight: bold;">{{eventAttendance?.member?.user?.firstName}} {{eventAttendance?.member?.user?.lastName}}</span>
        <span style="font-size: 1.2rem; color: dimgray;">{{eventAttendance?.mbEvent?.title}}</span>
        <span style="font-size: 1.2rem; color: dimgray;">{{eventAttendance?.mbEvent?.date | date: 'EEEE, MMMM d h:mm a'}}</span>
      </div>
      <button *ngIf="!editing" mat-flat-button type="button" color="primary"  (click)="edit()">Edit</button>
      <div *ngIf="editing" style="display: flex; flex-direction: column; align-items: end; gap: 5px;">
        <button mat-flat-button type="submit" color="primary">Save</button>
        <button mat-stroked-button type="button" (click)="cancel()">Cancel</button>
      </div>
    </div>

    <mat-divider style="margin-top: 20px;"></mat-divider>

    <div style="display: flex; flex-direction: column; gap: 20px; margin-top: 20px;">
      <span style="font-size: 1.2rem">Last Updated: <b>{{eventAttendance?.lastUpdated | date: 'MM/dd/yy h:mm a'}}</b></span>
      <span style="font-size: 1.2rem">Attendance Status:
        <b *ngIf="!editing && eventAttendance?.attendance !== 'Sub'">{{eventAttendance?.attendance}}</b>
        <b *ngIf="!editing && eventAttendance?.attendance === 'Sub'">
          Subbed by {{eventAttendance?.sub?.user?.firstName}} {{eventAttendance?.sub?.user?.lastName}}
        </b>
        <app-attendance-select *ngIf="editing"
                               formControlName="attendance"
                               [includeSub]="includeSubOption()"
                               style="display: inline-block; font-size: 1rem; margin-left: 5px"></app-attendance-select>

        <app-member-select *ngIf="editing && form.get('attendance')?.value === 'Sub'"
                           style="display: inline-block; font-size: 1rem; margin-left: 5px"
                           formControlName="sub"
                           [memberOptions]="sectionMembers"
                           [forSub]="true"></app-member-select>
      </span>
    </div>

    <button *ngIf="!editing" type="button" (click)="goBack()" mat-flat-button style="background-color: lightgray; margin: 20px 0 20px 0;">Back</button>
  </form>
</div>


