<div>
  <button type="button" mat-stroked-button [disabled]="false" (click)="toggleDropdown($event)" #dropdownTrigger="cdkOverlayOrigin" cdkOverlayOrigin
          class="dropdown-button">
    {{ selectedOption || '' }}
    <mat-icon class="material-symbols-outlined">arrow_drop_down</mat-icon>
  </button>

  <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="dropdownTrigger"
    [cdkConnectedOverlayOpen]="isDropdownOpen"
    (backdropClick)="closeDropdown()"
    [cdkConnectedOverlayHasBackdrop]="true"
    [cdkConnectedOverlayBackdropClass]="'cdk-overlay-transparent-backdrop'"
    [cdkConnectedOverlayFlexibleDimensions]="true"
    [cdkConnectedOverlayPush]="true"
    [cdkConnectedOverlayScrollStrategy]="overlay.scrollStrategies.reposition()"
    [cdkConnectedOverlayWidth]="dropdownTrigger.elementRef.nativeElement.offsetWidth"
  >
    <div
      class="dropdown-menu"
      role="listbox"
      [attr.aria-activedescendant]="sanitizeId(selectedOption)">

      <div
        class="option"
        id="option-none"
        role="option"
        (click)="select(null)"
      >
        --
      </div>

      <div
        class="option"
        id="option-present"
        role="option"
        (click)="select('Present')"
      >
        Present
      </div>

      <div
        class="option option-group"
        id="option-absent"
        role="option"
        (click)="toggleSubMenu('Absent')"
        aria-haspopup="true"
        [attr.aria-expanded]="openSubMenu === 'Absent'"
      >
        Absent
        <mat-icon fontSet="material-symbols-outlined" class="arrow" [class.open]="openSubMenu === 'Absent'">arrow_right</mat-icon>
      </div>
      <div *ngIf="openSubMenu === 'Absent'" class="sub-options" role="group" aria-label="Absent options">
        <div
          id="option-absent-excused"
          class="option"
          role="option"
          (click)="select('Absent - Excused')"
        >
          Excused
        </div>
        <div
          id="option-absent-unexcused"
          class="option"
          role="option"
          (click)="select('Absent - Unexcused')"
        >
          Unexcused
        </div>
      </div>

      <div
        class="option option-group"
        id="option-late"
        role="option"
        (click)="toggleSubMenu('Late')"
        aria-haspopup="true"
        [attr.aria-expanded]="openSubMenu === 'Late'"
      >
        Late
        <mat-icon fontSet="material-symbols-outlined" class="arrow" [class.open]="openSubMenu === 'Late'">arrow_right</mat-icon>
      </div>
      <div *ngIf="openSubMenu === 'Late'" class="sub-options" role="group" aria-label="Late options">
        <div
          id="option-late-excused"
          class="option"
          role="option"
          (click)="select('Late - Excused')"
        >
          Excused
        </div>
        <div
          id="option-late-unexcused"
          class="option"
          role="option"
          (click)="select('Late - Unexcused')"
        >
          Unexcused
        </div>
      </div>

      <div
        class="option option-group"
        id="option-left-early"
        role="option"
        (click)="toggleSubMenu('Left Early')"
        aria-haspopup="true"
        [attr.aria-expanded]="openSubMenu === 'Left Early'"
      >
        Left Early
        <mat-icon fontSet="material-symbols-outlined" class="arrow" [class.open]="openSubMenu === 'Left Early'">arrow_right</mat-icon>
      </div>
      <div *ngIf="openSubMenu === 'Left Early'" class="sub-options" role="group" aria-label="Left Early options">
        <div
          id="option-left-early-excused"
          class="option"
          role="option"
          (click)="select('Left Early - Excused')"
        >
          Excused
        </div>
        <div
          id="option-left-early-unexcused"
          class="option"
          role="option"
          (click)="select('Left Early - Unexcused')"
        >
          Unexcused
        </div>
      </div>

      <div *ngIf="includeSub"
        class="option"
        id="option-sub"
        role="option"
        (click)="select('Sub')"
      >
        Sub
      </div>
    </div>
  </ng-template>
</div>

