.dropdown-button {
  width: 100%;
  max-width: 220px;
  justify-content: start;
  margin-bottom: 0;
  font-size: .9rem;
}

.dropdown-menu {
  background: white;
  width: 100%;
  padding: 5px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  z-index: 1000;
  max-height: 300px;
  overflow-y: auto;
  font-weight: lighter;
}

.option {
  padding: 8px;
  cursor: pointer;
  user-select: none;
}

.option:hover {
  background-color: #eee;
}

.sub-options {
  padding-left: 20px;
}

.option-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.arrow {
  transition: transform 0.3s ease;
  font-size: 12px;
  margin-left: 8px;
}

.arrow.open {
  transform: rotate(90deg);
}
