.stations-row {
  position: sticky;
  top: 0;
  z-index: 3; /* Should be higher than sticky columns */
  box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.2);
  height: 2rem;
}

.header-cell {
  border-right: 1px solid lightgray;
}

.section-row {
  background-color: var(--primary-color);
  color: white;
  height: 1.5rem;
}

/* Applied to any cell in a section row */
.section-row-cell {
  background-color: var(--primary-color);
  color: white;
  border: none !important;
  overflow: visible;
}

.name-cell {
  border-right: 1px solid lightgray;
  position: sticky;
  left: 0;
  width: 1%;
}

.member-row {
  height: 1.5rem;
}

.status-cell {
  white-space: nowrap;
  border-right: 1px solid lightgray;
  max-width: 1.5rem;
  text-align: center;
  padding: 0;
  color: dimgray;
}

