<div *ngIf="station">
  <div class="top-row">
    <div class="station-title">
      <mat-icon class="button" (click)="goBack()" style="margin-right: 10px;">arrow_back</mat-icon>
      <span style="margin-left: 10px"><b>Station {{station.level + 1}}: </b>{{station?.title}}</span>&nbsp;
    </div>
  </div>

  <div style="max-width: 500px;">
    <div class="list">
      <div class="listed-items" *ngFor="let packet of packets" (click)="navigateToPacket(packet.packetId)">
        <div class="item-box">
          <span>{{packet.title}}</span>
        </div>
      </div>
    </div>

    <button *ngIf="showAddButton" mat-flat-button (click)="addPacket()"
            style="background-color: var(--primary-color); color: white; width: 100%; font-size: 14px; box-sizing: border-box;">Add Packet
    </button>
  </div>
</div>

<ng-template #addPacketDialog>
  <h2 mat-dialog-title>Create Packet</h2>
  <form #packetForm="ngForm" (ngSubmit)="submitPacket(packetForm)">
    <mat-dialog-content>
      <mat-form-field subscriptSizing="dynamic">
        <input matInput
               [(ngModel)]="title"
               name="title"/>
      </mat-form-field><br/>
      <mat-form-field subscriptSizing="dynamic">
        <mat-label class="form-label">Select Role</mat-label>
        <mat-select [(ngModel)]="role" name="role">
          <mat-option *ngFor="let option of roleOptions" [value]="option">{{option | titlecase}}</mat-option>
        </mat-select>
      </mat-form-field><br/>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button type="button" (click)="cancelDialog()">Cancel</button>
      <button mat-button type="submit" [disabled]="!title || !role">Submit</button>
    </mat-dialog-actions>
  </form>
</ng-template>

