<div>
  <div (click)="goBackToAdmin()" class="back-button"
       style="display: flex; flex-direction: row; align-items: center; width: max-content; max-height: 40px">
    <mat-icon>arrow_left_alt</mat-icon>
    <h4 style="text-decoration: underline">Back to Admin page</h4>
  </div>
  <div style="font-size: 1.4rem; margin-bottom: 10px; margin-left: 8px">
    <span>{{user?.email}}</span>
  </div>


  <form #userForm="ngForm" (ngSubmit)="updateUser(userForm)">
    <div style="display: flex; flex-direction: column">
      <mat-form-field style="max-width: 400px">
        <mat-label class="form-label">First Name</mat-label>
        <input matInput id="firstName" type="text" name="firstName" [(ngModel)]="firstName">
      </mat-form-field>
      <mat-form-field style="max-width: 400px">
        <mat-label class="form-label">Last Name</mat-label>
        <input matInput id="lastName" type="text" name="lastName" [(ngModel)]="lastName">
      </mat-form-field>
      <mat-form-field style="max-width: 400px">
        <mat-label class="form-label">Role</mat-label>
        <mat-select id="role" name="role" [(ngModel)]="role">
          <mat-option *ngFor="let option of roleOptions" [value]="option">{{option}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button mat-flat-button color="primary" type="submit">Save Changes</button>
  </form>
</div>
