<div class="container">
  <mat-card (click)="navigateToForm()" [ngStyle]="{'background-color': event?.type == EVENT ? 'var(--primary-color)' : 'var(--accent-color)'}">
    <mat-card-header>
<!--      for events, the arrow is in line with the tag-->
      <div *ngIf="!(event?.pepBand == null)" class="event-header-container">
        <div class="tag-arrow-container">
          <app-event-tag [tagText]="event?.pepBand"></app-event-tag>
          <mat-icon class="material-symbols-outlined">arrow_right_alt</mat-icon>
        </div>
        <mat-card-title>{{event?.title}}</mat-card-title>
      </div>
<!--      for rehearsals, the arrow is in line with the title-->
      <div *ngIf="event?.pepBand == null" class="title-arrow-container">
        <mat-card-title>{{event?.title}}</mat-card-title>
        <mat-icon class="material-symbols-outlined">arrow_right_alt</mat-icon>
      </div>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>{{event?.date | date: 'EEEE, MMMM d h:mm a' }}</mat-card-content>
  </mat-card>
</div>
