<mat-tab-group>
  <mat-tab label="View Term">
    <div style="padding: 10px">
      <div style="margin-bottom: 20px; display: flex; align-items: center; justify-content: space-between">
        <div style="display: flex; align-items: center; gap: 10px">
          <mat-form-field subscriptSizing="dynamic">
            <mat-label class="form-label">Select a term</mat-label>
            <mat-select [(ngModel)]="selectedTerm" (selectionChange)="onTermChange($event.value)">
              <mat-option *ngFor="let option of terms" [value]="option">{{option.termName}}</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-flat-button color="primary" (click)="openTermDialog()">Create Term</button>
        </div>
        <p align="right">{{selectedTerm?.startDate | date: 'MMMM d, YYYY'}} - {{selectedTerm?.endDate | date: 'MMMM d, YYYY'}}</p>
      </div>
      <app-events-table [selectedTerm]="selectedTerm"></app-events-table>
      <app-members-table [selectedTerm]="selectedTerm"></app-members-table>
    </div>
  </mat-tab>
  <mat-tab label="Users">
    <div style="padding: 10px">
      <app-users-table></app-users-table>
    </div>
  </mat-tab>
  <mat-tab label="Roles"></mat-tab>
</mat-tab-group>


<ng-template #createTermDialog>
  <h2 mat-dialog-title>Create Term</h2>
  <form #termForm="ngForm" (ngSubmit)="submitTerm(termForm)">
    <mat-dialog-content>
        <mat-form-field>
          <mat-label class="form-label">Name</mat-label>
          <input matInput id="termName" type="text" name="termName" [(ngModel)]="termName">
        </mat-form-field><br/>
        <mat-form-field>
          <mat-label class="form-label">Start Date</mat-label>
          <input matInput [matDatepicker]="termStartPicker" name="termStartDate" [(ngModel)]="termStartDate">
          <mat-datepicker-toggle matIconSuffix [for]="termStartPicker"></mat-datepicker-toggle>
          <mat-datepicker #termStartPicker></mat-datepicker>
        </mat-form-field><br/>
        <mat-form-field>
          <mat-label class="form-label">End Date</mat-label>
          <input matInput [matDatepicker]="termEndPicker" name="termEndDate" [(ngModel)]="termEndDate">
          <mat-datepicker-toggle matIconSuffix [for]="termEndPicker"></mat-datepicker-toggle>
          <mat-datepicker #termEndPicker></mat-datepicker>
        </mat-form-field><br/>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button type="button" (click)="cancelDialog()">Cancel</button>
      <button mat-button type="submit">Submit</button>
    </mat-dialog-actions>
  </form>
</ng-template>


