<div class="event-date">
  <mat-icon class="calendar-icon">event</mat-icon>
  <span>{{event.date | date: 'EEEE, MMMM d h:mm a' }}</span>
</div>
<div class="event-title">
  <span *ngIf="event.pepBand != null">{{event.pepBand}}: </span>
  <span>{{event.title}}</span>
</div>
<div *ngIf="event.type === REHEARSAL" class="rehearsal-conflict-legend">
  <div>
    <span style="color: var(--arriving-late-color)">{{Constants.REHEARSAL_CONFLICT_ARRIVING_LATE}}</span><br/>
    <span style="color: var(--leaving-early-color)">{{Constants.REHEARSAL_CONFLICT_LEAVING_EARLY}}</span><br/>
    <span style="color: var(--other-conflict-color)">{{Constants.REHEARSAL_CONFLICT_OTHER}}</span><br/>
  </div>
  <div style="text-align: right;">
    <span style="color: var(--tuesday-conflict-color)">{{Constants.REHEARSAL_CONFLICT_TUES}}</span><br/>
    <span style="color: var(--thursday-conflict-color)">{{Constants.REHEARSAL_CONFLICT_THURS}}</span><br/>
  </div>
</div>
<div style="display: flex; justify-content: flex-end;">
  <button mat-flat-button
          (click)="clearForm()"
          style="font-size: .8rem; height: auto; width: auto; padding-top: 6px; padding-bottom: 6px; margin-right: 4px;"
          color="primary">Clear</button>
  <button mat-flat-button
          (click)="markAllPresent()"
          style="font-size: .8rem; height: auto; width: auto; padding-top: 6px; padding-bottom: 6px"
          color="primary">Mark All Present</button>
</div>
<div class="form-table">
  <form [formGroup]="form">
    <div formArrayName="attendances">
      <table mat-table [dataSource]="attendees">
        <ng-container matColumnDef="name">
          <td mat-cell *matCellDef="let attendee" class="name-cell"
              [ngStyle]="event.type === REHEARSAL ?
                {'color': 'var(--' + Utilities.getConflictColor(attendee.rehearsalConflict) + '-color)'} : {'color': 'black'}">
              {{attendee.firstName}} {{attendee.lastName}} </td>
        </ng-container>
        <ng-container matColumnDef="attendance">
          <td mat-cell *matCellDef="let attendee; let i = index" [formGroupName]="i" class="attendance-cell">
            <mat-form-field subscriptSizing="dynamic" style="height: 45px" appearance="outline">
              <mat-select formControlName="attendance">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let option of attendanceOptions" [value]="option">{{option}}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="attendances.at(i).get('attendance')?.value === 'Sub'" subscriptSizing="dynamic" style="height: 45px" appearance="outline">
              <mat-select formControlName="sub" placeholder="Subbed by">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let member of sectionMembers" [value]="member">{{member.firstName}} {{member.lastName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </ng-container>
        <tr mat-row *matRowDef="let attendee; columns: columnsToDisplay"></tr>
      </table>
    </div>
  </form>
</div>


<button mat-flat-button (click)="onSubmit()" color="primary">Submit</button>
