.section-row {
  background-color: var(--primary-color);
  color: white;
  height: 1.5rem;
}

.name-col {
  min-width: 200px;
  border-right: 1px solid lightgray;
}

.attendance-col {
  /*min-width: 150px;*/
  white-space: nowrap;
  border-right: 1px solid lightgray;
}

.rehearsal-conflict-legend {
  display: flex;
  justify-content: space-between;
  font-size: .9rem;
  margin-top: 20px;
  margin-bottom: 20px;
}
