.station-title {
  font-family: Roboto, sans-serif;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
}

.top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.button:hover {
  cursor: pointer;
}

.packets-nav-button {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  color: white;
}

.material-symbols-outlined {
  font-size: 36px;
  font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 0,
    'opsz' 24
}

