<div *ngIf="sessionCacheService.isOfficer() || sessionCacheService.isAdmin()">
  <div class="top-row">
    <div class="station-title">
      <mat-icon class="button" (click)="goBack()">arrow_back</mat-icon>
      <a [routerLink]="['/admin']" style="margin-left: 10px; color: inherit; text-decoration: none;">
        {{station?.title}}</a>
    </div>
    <button *ngIf="!editing && (sessionCacheService.isOfficer() || sessionCacheService.isAdmin())"
            mat-flat-button type="button" color="primary"  (click)="edit()">Edit Station</button>
    <div *ngIf="editing">
      <button mat-stroked-button type="button" (click)="cancel()">Cancel</button>&nbsp;
      <button mat-flat-button color="primary" (click)="save()">Save Changes</button>
    </div>
  </div>

  <app-station-contents
    [station]="editedStation"
    [editing]="editing"
    (groupDeleted)="addGroupToDelete($event)"
    (itemDeleted)="addItemToDelete($event)"></app-station-contents>
</div>


<!--<ng-template #confirmDeleteDialog>-->
<!--  <h2 mat-dialog-title>Delete Member?</h2>-->
<!--  <mat-dialog-actions align="end">-->
<!--    <button mat-button (click)="cancelDialog()">Cancel</button>-->
<!--    <button mat-button (click)="deleteMember()">Delete</button>-->
<!--  </mat-dialog-actions>-->
<!--</ng-template>-->

<!--<ng-template #successDialog>-->
<!--  <h2 mat-dialog-title>Member successfully deleted!</h2>-->
<!--  <mat-dialog-actions align="end">-->
<!--    <button mat-button (click)="goBack()">Ok</button>-->
<!--  </mat-dialog-actions>-->
<!--</ng-template>-->
