<div *ngIf="sessionCacheService.isOfficer() || sessionCacheService.isAdmin()">
  <div class="top-row">
    <div class="station-title">
      <mat-icon class="button" (click)="goBack()">arrow_back</mat-icon>
      <a [routerLink]="['/admin']" style="margin-left: 10px; color: inherit; text-decoration: none;">
        {{station?.title}}</a>
    </div>
    <button *ngIf="!editing && (sessionCacheService.isOfficer() || sessionCacheService.isAdmin())"
            mat-flat-button type="button" color="primary"  (click)="edit()">Edit Station</button>
    <div *ngIf="editing">
      <button mat-stroked-button type="button" (click)="cancel()">Cancel</button>&nbsp;
      <button mat-flat-button type="submit" color="primary">Save Changes</button>
    </div>
  </div>

<!--    <div *ngIf="!editing" style="display: flex; flex-direction: column; gap: 20px; margin-top: 10px; margin-bottom: 10px; font-size: 1.2rem">-->
<!--      <span>Term: <b>{{station?.term?.termName}}</b></span>-->
<!--      <span>Section: <b>{{station?.section?.name}}</b></span>-->
<!--      <span>Pep Band: <b>{{station?.pepBand?.displayName}}</b></span>-->
<!--      <span>Rehearsal Conflict:-->
<!--        <span *ngIf="station?.rehearsalConflict"><b>{{station?.rehearsalConflict}}</b></span>-->
<!--        <span *ngIf="!station?.rehearsalConflict"><b>None</b></span>-->
<!--      </span>-->
<!--    </div>-->

  <app-station-edit [station]="station" [editing]="editing"></app-station-edit>
</div>


<!--<ng-template #confirmDeleteDialog>-->
<!--  <h2 mat-dialog-title>Delete Member?</h2>-->
<!--  <mat-dialog-actions align="end">-->
<!--    <button mat-button (click)="cancelDialog()">Cancel</button>-->
<!--    <button mat-button (click)="deleteMember()">Delete</button>-->
<!--  </mat-dialog-actions>-->
<!--</ng-template>-->

<!--<ng-template #successDialog>-->
<!--  <h2 mat-dialog-title>Member successfully deleted!</h2>-->
<!--  <mat-dialog-actions align="end">-->
<!--    <button mat-button (click)="goBack()">Ok</button>-->
<!--  </mat-dialog-actions>-->
<!--</ng-template>-->
