<mat-sidenav-container style="height:100%">
  <mat-sidenav #sidenav [mode]="'over'" class="navbar">
    <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
    <a routerLink="/events" [queryParams]="{ type: 'upcoming' }" (click)="sidenav.toggle()">Upcoming Events</a>
    <a routerLink="/events" [queryParams]="{ type: 'recent' }" (click)="sidenav.toggle()">Recent Events</a>
    <a *ngIf="!sessionCacheService.isMember()" routerLink="/stations" (click)="sidenav.toggle()">Stations</a>
    <!--    <a routerLink="/events" [queryParams]="{ type: 'volunteer' }" *ngIf="sessionCacheService.isSectionLeader() || sessionCacheService.isOfficer()" (click)="sidenav.toggle()">Volunteer Sign-up</a>-->
<!--    <a [href]="reactUrl">Stations</a>-->
    <!--    <a routerLink="/profile" (click)="sidenav.toggle()">Profile</a>-->
    <a *ngIf="sessionCacheService.get(STORAGE_KEY_SECTION) && (sessionCacheService.isSectionLeader() || sessionCacheService.isOfficer())" (click)="goToSection()">My Section</a>
    <a *ngIf="sessionCacheService.isAdmin() || sessionCacheService.isOfficer()" routerLink="/admin" (click)="sidenav.toggle()">Admin</a>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar style="padding-left:0">
      <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
      <span class="app-title">{{ pageTitle }}</span>
    </mat-toolbar>
    <mat-divider></mat-divider>
    <div class="main-container">
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
