<ng-container *ngIf="isMobile; else desktopView">
  <mat-sidenav-container style="height:100%">
    <mat-sidenav #sidenav [mode]="'over'" class="side-navbar">
      <div class="side-navbar-content">
        <div class="links-column">
          <button mat-icon-button (click)="sidenav.toggle()"><mat-icon class="material-symbols-outlined">menu</mat-icon></button>
          <a routerLink="/events" [queryParams]="{ type: 'upcoming' }" (click)="sidenav.toggle()">Upcoming Events</a>
          <a routerLink="/events" [queryParams]="{ type: 'recent' }" (click)="sidenav.toggle()">Recent Events</a>
          <a *ngIf="sessionCacheService.getLoggedInMember() && !sessionCacheService.isMember()" routerLink="/stations" (click)="sidenav.toggle()">Stations</a>
          <!--    <a routerLink="/events" [queryParams]="{ type: 'volunteer' }" *ngIf="sessionCacheService.isSectionLeader() || sessionCacheService.isOfficer()" (click)="sidenav.toggle()">Volunteer Sign-up</a>-->
          <!--    <a routerLink="/profile" (click)="sidenav.toggle()">Profile</a>-->
          <a *ngIf="sessionCacheService.get(STORAGE_KEY_SECTION) && (sessionCacheService.isSectionLeader() || sessionCacheService.isOfficer())" (click)="goToSection()">My Section</a>
          <a *ngIf="sessionCacheService.isAdmin() || sessionCacheService.isOfficer()" routerLink="/admin" (click)="sidenav.toggle()">Admin</a>
        </div>

        <div style="width: 100%; display: flex; justify-content: end;">
          <app-logo style="margin: 0 10px 10px 0;"></app-logo>
        </div>
      </div>
    </mat-sidenav>

    <mat-sidenav-content class="app-content">
      <mat-toolbar style="padding-left:0">
        <button mat-icon-button (click)="sidenav.toggle()"><mat-icon class="material-symbols-outlined">menu</mat-icon></button>
        <span class="app-title">{{ pageTitle }}</span>
      </mat-toolbar>
      <mat-divider></mat-divider>
      <div class="main-container">
        <router-outlet />
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>


<ng-template #desktopView>
  <div class="app-content">
    <mat-toolbar class="top-navbar">
      <app-logo></app-logo>
      <a mat-button routerLink="/events" [queryParams]="{ type: 'upcoming' }">Upcoming Events</a>
      <a mat-button routerLink="/events" [queryParams]="{ type: 'recent' }">Recent Events</a>
      <a mat-button *ngIf="sessionCacheService.getLoggedInMember() && !sessionCacheService.isMember()" routerLink="/stations">Stations</a>
      <!--    <a routerLink="/events" [queryParams]="{ type: 'volunteer' }" *ngIf="sessionCacheService.isSectionLeader() || sessionCacheService.isOfficer()" (click)="sidenav.toggle()">Volunteer Sign-up</a>-->
      <!--    <a routerLink="/profile" (click)="sidenav.toggle()">Profile</a>-->
      <a mat-button *ngIf="sessionCacheService.get(STORAGE_KEY_SECTION) && (sessionCacheService.isSectionLeader() || sessionCacheService.isOfficer())" (click)="goToSection()">My Section</a>
      <a mat-button *ngIf="sessionCacheService.isAdmin() || sessionCacheService.isOfficer()" routerLink="/admin">Admin</a>
    </mat-toolbar>
    <mat-divider></mat-divider>
    <div class="main-container">
      <router-outlet />
    </div>
  </div>
</ng-template>
