.page-title {
  font-family: RedditSansCondensed, sans-serif;
  font-size: 1.6rem;
}

.toolbar {
  position: sticky;
  top: 0;
}

.side-navbar {
  min-width: 300px;
}

.side-navbar-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.links-column {
  display: flex;
  flex-direction: column;
}

.side-navbar a {
  display: block;
  padding: 7px 0;
  margin-left: 10px;
  text-decoration: none;
  font-size: 1.4rem;
  color: inherit;
}

.top-navbar {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  height: fit-content;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  position: sticky;
  top: 0;
}

.top-navbar a {
  padding: 10px;
  color: var(--primary-color);
}

.mat-divider {
  color: lightgray;
}

.app-content {
  min-height: 100vh;
  background-color: white;
}

.main-container {
  padding: 16px;
  max-width: 100%;
  box-sizing: border-box;
  background-color: inherit;
}

a:hover {
  cursor: pointer;
}
